@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

ul li a{
    cursor: pointer;
    &.active {
        background-image: linear-gradient(to bottom, gray , var(--bs-body-color));
        
    }
    &:hover{
        background-image: linear-gradient(to bottom, gray , var(--bs-body-color));
    }
}
.logo{
    font-family: 'Libre Baskerville', serif;
    color: white;
}