<div class="table_outer px-2">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Schema Name</th>
            <th scope="col">Schema Id</th>
            <th scope="col">Created at</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schema of schemas">
            <td>{{ schema.name }}</td>
            <td>{{ schema.schema_id }}</td>
            <td>{{ schema.created_at | date }}</td>
            <td><a routerLink="{{'/schema/edit/' + schema._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> </td>
          </tr>
        </tbody>
      </table>
</div>