<div class="sidebar bg-dark shadow">
    <ul class="list-unstyled px-2 py-2">
        <li class="text-white my-1"><a routerLink="/dashboard" routerLinkActive="active" class="text-decoration-none text-white p-2 d-inline-block w-100 "><i class="fa fa-tachometer" aria-hidden="true"></i> <span class=""> Dashboard</span></a></li>
        <li class="text-white my-1"><a routerLink="/about" routerLinkActive="active" class="text-decoration-none text-white p-2 d-inline-block w-100"><i class="fa fa-id-card-o" aria-hidden="true"></i> <span class=""> About</span></a></li>
        <li class="text-white my-1"><a routerLink="/services" routerLinkActive="active"  class="text-decoration-none text-white p-2 d-inline-block w-100 "><i class="fa fa-sliders" aria-hidden="true"></i> <span class=""> Services</span></a></li>
        <li class="text-white my-1"><a class="text-decoration-none text-white p-2 d-inline-block w-100 "><i class="fa fa-phone-square" aria-hidden="true"></i> <span class=""> Contact</span></a></li>
        <li class="text-white my-1"><a routerLink="/chat" routerLinkActive="active" class="text-decoration-none text-white p-2 d-inline-block w-100 "><i class="fa fa-comments-o" aria-hidden="true"></i> <span class=""> Chats</span></a></li>
        <li class="text-white my-1"><a routerLink="/schema" routerLinkActive="active" class="text-decoration-none text-white p-2 d-inline-block w-100 "><i class="fa fa-table" aria-hidden="true"></i> <span class=""> Schema</span></a></li>
    </ul>
</div>
